.card-holder {
  max-height: 85vh;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
}
.no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.no-data-container img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.text-header {
  height: 50px;
  font-size: 35px;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #6c90b9;
}
@media (max-width: 1200px) {
  .card-holder {
    width: 95%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .card-holder::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 480px) {
  .card-holder {
    overflow-y: visible;
    width: calc(100% + 17px);
    width: 100%;
    max-height: fit-content;
  }
  .card-holder::-webkit-scrollbar {
    display: none;
  }
  .no-data-container {
    height: auto;
    padding: 20px;
  }
}
